#headCon a {
    text-decoration: none;
}
#operatorListCon {
    background-color:white;
    padding-top: 0.2em;
    padding-bottom: 0.5em;
    display:none;
    position: absolute;
    z-index:900;
    border:1px solid #108AC6;
    width: 6em;
    text-align:left;
}
#operatorListCon div {
    margin-top: 0.2em;
    padding: 0em;
}
#operatorListCon a {
    font-size: 0.95em;
    color: #108AC6;
    text-decoration: none;
}

#mainCon {
    text-align: left; width: 60em; padding: 0.3em; margin: 0px; background-color: #f1f8ff;
}

#footCon {
	clear: both;
	margin: 0px;
	padding: 0px;
}
#footCon #foot {
	width: 60em;
	text-align: center;
	border-top: 1px solid #e1e4e8!important;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: #f1f8ff;
	padding-left: 5px;
	padding-right: 5px;
	color: gray;
}
